.header {
  display: flex;
  justify-content: space-between; /* Aligns text to the left */
  padding: 20px;
  color: rgb(56, 56, 56);
  font-size: 24px;
}

#text-main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  margin-top: 5vh;
  margin-bottom: 12vh;
  width: 80vw;
  height: 70vh;
  justify-self: center;
  justify-content: start;
  align-items: center;
  /* background-color: green; */
  object-fit: cover;
}
.text-box-container {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.button{
  padding: 10px;
  font-size: 16px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.button:hover{
  cursor: pointer;
}

.enter{
  padding: 10px;
  font-size: 16px;
  border: 4px solid #000000;
  box-sizing: border-box;
  background-color: #000000;
  color: white;
}
.enter:hover{
  cursor: pointer;
}

#inputs{
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 4px solid #000000;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  width: 80%;
  

.red{
  filter: invert(20%) sepia(100%) saturate(800%) hue-rotate(-35deg) brightness(80%);
}
}
.footer {
  display: flex;
  justify-content: flex-end; /* Aligns text to the left */
  text-align: right;
  padding: 20px;
  color: rgb(56, 56, 56);
  font-size: 24px;
}

body {
  font-family: 'Arial', sans-serif;
}

#alphabet{
  width: 100%;
}

/* Make sure the body takes the full height */

/* This will ensure that the Stage and Layer are contained inside the page properly */


/* Optional: Add some margin to the footer if needed */
